/* Declaring custom properties */
* {
  box-sizing: border-box;

}

#header {
  text-align: right;
  padding: 0.5em;
  background-color: #252523;
  color: white
}

.phone{

/* background-color: #252523; */
/* background-color: #3db64c; */
}

.login {
  background-color: #3db64c;
}

#header-style > ul {
  margin: 0;

  list-style-type: none;
  display: inline-block;
  position: relative;


}
#header-style > ul > li {
  float: right;
  margin: 0;
  list-style-type: none;
  display: inline-block;

}

#menu > ul {
  text-align: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid lightgray;
}

.logo {
  float: left;
  font-size: 24px;
}

.e {
  float: left;
  color: #3ab54a;
}

#banner{
  position: relative;
}

#banner img {
  width: 100%;
  max-width: 100%;
}

#banner-text{
  text-align: center;
  color: #3ab54a;
  font: 150% sans-serif;
  font-size: 50px;
}

#banner-text2{
  color: #fefeff;
  font-size: 35px;
}

#search-bar{
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

#button-search {
  background-color: green;
}

#content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 8em;

}

.mmm{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.Icons{
  text-align: center;
  display: inline-grid;
}

.Icons > i{
  color: #3db64c;
  text-align: center;
  font-size: 50px;

}

#courses{
  background-color: #eff0f4;
}

.text-1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 1em;
}

.text-2{
display: inline-block;
font-size: 30px;
color: #00c138;
font-weight: bold;
}

.all{
  background-color: #00c852;
  color: white;
  float: left;
  padding: 1em;
}

.menu-2 > ul > li {
  display: inline-block;
  padding: 1em;
  border-left: thin solid lightgray;
}

.all-courses{
border: thin solid #00c852;
color: #00c852;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
float: right;
}

#fotos{
  background-color: #eff0f4;
}


.courses-carts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em 8em;
}

.carts{
  margin: 1em;
  background-color: white;
  padding: 1em;
}

.carts img {
  width: 100%;
  max-width: 100%;
}

#banner-2{
  text-align: center;
  position: relative;
}

#banner-2 img{
  width: 100%;
  max-width: 100%;
  filter: brightness(50%);
}

#banner-text-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
}

.text3-1{
  color: #00c852;
}

#apply-buttom{
  background-color: #00c852;
}

#videos{
  text-align: center;
}

#title-2{
  display: inline-block;
  font-weight: bold;
}

@media (max-width: 1024px) {

  .carts{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}
